html, body {
    height: 100%;
    position:relative;
}

body {
    margin:0px;
    background-color: #fff;
    padding: 0px;
}
    
h1, h2, p, a, li, ul {
    color: #646464;
    font-weight: 400;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
    font-size: 18px;
    line-height: 1.35;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-decoration: none;
    letter-spacing: 0.9px;
}

h1 {
    font-size: 28px;
}

h1 span {
    display: block;
    padding-bottom: 12px;
    font-size: 16px;
}

h2 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.75px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

li.overtitle {
    opacity: 0.5;
    margin-top: 15px;
}


/*---------------------------------- 
    header
-----------------------------------*/

.logo {
    margin: 40px 0px 0px 50px;
    display: inline-block;
}
.logo img {
    width: 320px;
}

/*---------------------------------- 
    nav
-----------------------------------*/

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 54px;
    z-index: 10;
    background: white;
}

.nav a {
    list-style-type: none;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-top: 1px solid gray;
    padding: 40px 15px;
    display: block;
    transition: background-color 0.2s;
}

/*---------------------------------- 
    container
-----------------------------------*/

* {
    box-sizing: border-box;
}


.container {
    margin: 30px 90px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gridcontainer {
    flex-basis: 33.3%;
    overflow: hidden;
    padding: 20px;
}

.gridcontainer a {
    display: flex;
    flex-direction: row-reverse;
}

.description  {
   width: 10%;
}

.description h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    padding: 0px 12px;
    
}

.descriptionpro h2 {
    color: #fff;
}

.imgc {
    flex-basis: 90%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.imgc img {
    transition: filter 0.5s ease-out;
}

.imgc:hover img {
    filter: grayscale(100%);
}

.gridproject {
    width: 66.6%;
    padding: 20px;
}
.imgproject {
    display: flex;
    flex-direction: column;
}
.gridprojectinfo {
    width: 33.3%;
    padding: 20px;
}
.gridone {
    width: 30%;
}

.grid30 {
    width: 33.3%;
}

.grid50 {
    width: 50%;
}
.grid100 {
    width: 100%;
}
.infostart {
    display: flex;
    flex-direction: column;
}
.infoins {
    width: 90%;
}
.infoins a {
    margin-top: 50px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.infoc {
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.infoc h1 {
    padding: 5px 40% 25px 50px;
}
.infoc h2 {
    padding: 5px 40% 5px 50px;
}

.nextproject {
    width: calc(100% - 80px);
    padding: 20px 0px 20px 50px;
    border-top: 1px solid gray;
}

.nextproject h2 {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
    transition: padding 0.25s ease-in-out;
}

.inview {
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    transition: height 1s cubic-bezier(1,.0,.55,1);
    transition-delay: 0.25s;
}

/*---------------------------------- 
    accordion
-----------------------------------*/

.accordion {
    position: relative;
}

.accTitle {
    border-bottom: gray 1px solid;
    padding: 15px 0px 20px 50px;
    margin-bottom: 0;
    cursor: pointer;
}

.accTitle:last-child {
    border-bottom: none;
}

.accordion p {
    margin: 0;
    padding: 25px 40% 45px 50px;
}

.accordion h2 {
    margin-bottom: 0;
}

.accList {
    display: none;
}

/*---------------------------------- 
    werkliste
-----------------------------------*/
.werkcontainer {
    margin-top: 137px;
    margin-bottom: 100px;
    width: calc(100% - 80px);
}
.werkcontainer li{
    border-bottom: 1px solid gray;
    padding: 5px 0px 5px 50px;
}

.wtitle {
    font-weight: 600;
}
.werkcontainer li.wtitle{
    margin-top: 20px;
}
.werkcontainer li span{
    width: 45%;
    display: inline-block;
}
.werkcontainer li span.arrow {
    width: 15px;
}
.werkcontainer li span:last-child{
    margin-left: 15px;
}

.plink {
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s;
}
.plink:hover {
    background-color: rgb(230, 230, 230);
}
li.noline {
    border-bottom:none; 
}

/*---------------------------------- 
    animation
-----------------------------------*/

.fade {
    height: 0px !important; 
}

.arrow {
    width: 15px;
    display: inline-block;
    transition: margin-right 0.25s ease-in-out;
    padding-bottom: 5px;
    vertical-align: middle;
}

.nextproject h2:hover .arrow,
.infoins a:hover .arrow,
.accTitle:hover .arrow,
.plink a:hover .arrow {
    margin-right: 10px;
}

/*---------------------------------- 
    footer
-----------------------------------*/

footer {
    width: calc(100% - 80px);
    display: flex;
    border-top: gray 1px solid;
    justify-content: space-between;
}

footer p {
    margin: 0;
    padding-left: 50px;
    padding-top: 15px;
}

footer img {
    width: 120px;
    height: 120px;
    padding: 15px;
}
.data-target{
    cursor: pointer;
}

.target-footer {
    display: none;
    width: calc(100% - 80px);
    padding: 15px 50% 15px 50px;
    border-top: gray 1px solid;
}

.target-footer p {
   margin-bottom: 30px;
}
.target-footer strong {
    display: block;
 }


/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
    position: fixed;
    bottom: -300px;
    left: 30px;
    border-radius: 0px;
    width: 350px;
    background-color: #646464;
    padding: 15px;
    z-index: 9999;
    transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
  }
  
  #cookiebanner p {
    font-size: 18px;
    color: white;
    margin: 0;
  }
  
  #cookiebanner.visible {
    bottom: 25px;
  }
  
  #cookiebanner button {
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none; 
  }
  
  #declineBtn, #acceptBtn {
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #declineBtn {
    padding: 10px 20px;
    background:none;
    border: 1px solid white; 
    color: white;
    opacity: 0.5;
  }
  
  #acceptBtn {
    border: none;
    padding: 10px 40px;
    background: white;
    color: #646464;
    margin-right: 5px;
  }
  
  #acceptBtn:hover,
  #declineBtn:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75; ;
  }


/*---------------------------------- 
responsive ipad
-----------------------------------*/

@media only screen and (max-width: 1350px) {
.gridcontainer {flex-basis: 50%;}
.infoc h1 {padding: 5px 10% 25px 50px;}
.accordion p {padding: 25px 10% 45px 50px}
}

@media only screen and (max-width: 1000px) {
h1 {font-size: 24px;}
h2, p, a, li {font-size: 16px;}
/* projekte */
.gridproject, .gridprojectinfo, .grid50, .grid30 {width: 100%;}
}

@media only screen and (max-width: 850px) {
h1 {font-size: 21px;}
.logo img {width: 230px;}
.nav a {padding: 30px 15px;}
.gridcontainer {flex-basis: 100%;}
.infoc h1 {padding: 5px 10px 25px 50px;}
.accordion p {padding: 25px 10px 45px 50px}
/* footer */
.fline {display: none;}
footer p span {display: block; padding-bottom: 5px;}
.target-footer {padding: 15px 10px 15px 50px;}
}

@media only screen and (max-width: 500px) {
h2 {margin-top: 0;}
.container {margin: 20px 40px 30px 0px;}
.logo {margin: 30px 0px 0px 30px;}
.nav {width: 32px;}
.nav a {padding: 30px 5px;}
.gridcontainer {padding-bottom: 0px;}
.werkcontainer {width: calc(100% - 50px); margin-top: 80px;}
.werkcontainer li {padding: 5px 0px 5px 20px;}
.werkcontainer li span {width: 90%;}
.werkcontainer li span:last-child {margin-left: 0; opacity: 0.5;}
.infoc h1 {padding: 5px 10px 25px 20px;}
.infoc h2 {padding: 5px 10px 10px 20px;}
.accTitle {padding: 15px 0px 20px 20px;}
.accordion p {padding: 25px 10px 25px 20px}

.nextproject {width: calc(100% - 50px);padding: 20px 0px 20px 20px;}

footer {width: calc(100% - 50px); padding-bottom: 20px;}
footer p {padding-left: 20px;}
footer img {display: none;}
.target-footer {width: calc(100% - 50px); padding: 15px 10px 15px 20px;}

#cookiebanner {width: calc(100% - 40px); left: 20px;}
#cookiebanner.visible {bottom: 60px;}
}