html, body {
    height: 100%;
    position:relative;
}

body {
    max-width: 2000px;
    margin:0px;
    background-color: #fff;
    padding: 0px;
}

body.black {
    background-color: #222;
}
    
h1, h2, p, a {
    color: #646464;
    font-weight: 400;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
    font-size: 18px;
    line-height: 1.35;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-decoration: none;
    letter-spacing: 0.75px;
}

h1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 40px;
}

h1 span {
    display: block;
    padding-bottom: 12px;
    font-size: 16px;
}

h2 {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
    letter-spacing: 0.75px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

li.overtitle {
    opacity: 0.5;
    margin-top: 15px;
}


/*---------------------------------- 
    header
-----------------------------------*/
header {
    margin: 40px 90px 0px 10px;
    width: calc(100% - 100px);
}

.logo {
    padding: 0 30px 15px 30px;
}

/*---------------------------------- 
    nav
-----------------------------------*/

#navburger {
    width: 30px;
    height: 21px;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 11;
    transition: ease 1s;
}

#navburger span{
    position: absolute;
    height: 1px;
    width: 30px;
    background: #646464;
    right: 0;
    transition: .25s ease-in-out;
}

#navburger span:nth-child(1) {top: 0px;}
#navburger span:nth-child(2) {top: 5px;}
#navburger span:nth-child(3) {top: 10px;}
#navburger span:nth-child(4) {top: 15px;}
#navburger span:nth-child(5) {top: 20px;}

#navburger:hover span.short {
    width: 30px;
}

#navburger:hover div.short {
    width: 30px;
}

.navburgeron {
    width: 30px;
    height: 0px;
    position: fixed;
    top: 60px;
    right: 40px;
    cursor: pointer;
    z-index: 11;
}

.navburgeron div {
    top: 0px;
    position: absolute;
    height: 1px;
    width: 30px;
    background: #646464;
    opacity: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0s;
}

#navburger span.short,
.navburgeron div.short {
    width: 20px;
}

#navburger:hover .short {
    width: 20px;
}

.navshow {height: 120px; }
.navshow div {opacity: 1; transition-delay: 0.4s;}
.navshow div:nth-child(1) {top: 5px;}
.navshow div:nth-child(2) {top: 10px;}
.navshow div:nth-child(3) {top: 15px;}
.navshow div:nth-child(4) {top: 20px;}
.navshow div:nth-child(5) {top: 25px;}
.navshow div:nth-child(6) {top: 30px;}
.navshow div:nth-child(7) {top: 35px;}
.navshow div:nth-child(8) {top: 40px;}
.navshow div:nth-child(9) {top: 45px;}
.navshow div:nth-child(10) {top: 50px;}
.navshow div:nth-child(11) {top: 55px;}
.navshow div:nth-child(12) {top: 60px;}
.navshow div:nth-child(13) {top: 65px;}
.navshow div:nth-child(14) {top: 70px;}
.navshow div:nth-child(15) {top: 75px;}
.navshow div:nth-child(16) {top: 80px;}
.navshow div:nth-child(17) {top: 85px;}
.navshow div:nth-child(18) {top: 90px;}
.navshow div:nth-child(19) {top: 95px;}
.navshow div:nth-child(20) {top: 100px;}
.navshow div:nth-child(21) {top: 105px;}
.navshow div:nth-child(22) {top: 110px;}
.navshow div:nth-child(23) {top: 115px;}
.navshow div:nth-child(24) {top: 120px;}


.nav {
    background: rgb(200,200,200);
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: width 0.5s cubic-bezier(1,.0,.55,1);  
}

.navin {
    width: 68%;
}

.nav ul {
    position: fixed;
    margin: 0;
    text-align: right;
    padding: 0;
    top: 100px;
    right: 110px;
    transition: top 0.5s ease-in-out;
    transition-delay: 0.4s;
}

.nav ul.in {
    top: -150px;
    transition-delay: 0s;
}

.nav li {
    list-style-type: none;
    line-height: 30px;
    transition: all 0.25s cubic-bezier(1,.0,.55,1);
    transition-timing-function: cubic-bezier(1,.00,.55,1);
}

.nav li:hover {
    padding-right: 10px;
}

.navcontact {
    position: fixed;
    bottom: -50px;
    opacity: 0;
    padding: 0 30px 35px 40px;
    transition: all 0.5s cubic-bezier(1,.0,.55,1);
    transition-timing-function: cubic-bezier(1,.00,.55,1);
    transition-delay: 0.4s;
}

.navcontact.up {
    bottom: 0px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(1,.0,.55,1);
    transition-timing-function: cubic-bezier(1,.00,.55,1);
    transition-delay: 0.4s;
}

/*---------------------------------- 
    container
-----------------------------------*/

* {
    box-sizing: border-box;
}


.container {
    margin: 60px 90px 0px 10px;
    width: calc(100% - 100px);
    display: inline-block;
}

.gridone {
    width: 33.3%;
    float: left;
}

.gridsecond {
    margin-top: -50px;
}

.gridpro {
    width: 20%;
    float: left;
    transition: all 0.5s cubic-bezier(1,.0,.55,1);
}

.gridtwo {
    width: 66.6%;
    float: right;
}

.grid30 {
    width: 33.3%;
    float: left;
}
.grid30cont {
    display: flex;
    width: 100%;
}
.grid50 {
    width: 50%;
    float: left;
}
.grid100 {
    width: 100%;
}

.gridcontainer {
    padding: 0 30px 60px 30px;
    float: left;
    width: 100%;
}

.nextproject {
    padding: 0 30px 60px 30px;
    float: left;
}

.nextproject h2 {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
    transition: padding 0.25s ease-in-out;
}

.nextproject h2:hover {
    padding-right: 40px;
}

.pfeilnext {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.gridcontainer a {
    cursor: pointer;
}

.gridtwoproject {
    width: 66.6%;
    float: left;
}

.description,
.descriptionpro {
    width: 10%;
    float: right;
}

.description h2,
.descriptionpro h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    padding: 0px 12px;
    
}

.descriptionpro h2 {
    height: 400px;
    color: #fff;
}


.infoc {
    position: relative;
    width: 90%;
    float: left;
}
.infoc h2 {
    margin-bottom: 20px;
}

.imgc {
    position: relative;
    width: 90%;
    float: right;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imgc img {
    transition: filter 0.5s ease-out;
}

.imgc:hover img {
    filter: grayscale(100%);
}

.map {
    position: relative;
    width: 90%;
    height: 600px;
    float: right;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.imgproject {
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column; 
}


.inview {
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    transition: height 1s cubic-bezier(1,.0,.55,1);
    transition-delay: 0.25s;
}

.pfeil {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    float: right;
    transition: margin-right 0.25s ease-in-out;
}

.pfeil:hover{
    margin-right: 0px;  
}

/*---------------------------------- 
    accordion
-----------------------------------*/

.accordion {
    position: relative;
}

.accTitle {
    border-bottom: #646464 1px solid;
    padding: 17px 0px 20px;
    margin-bottom: 0;
    cursor: pointer;
    transition: padding-left 0.25s cubic-bezier(1,.0,.55,1);
}

.accTitle:hover {
    padding-left: 15px;  
}

.accTitle:hover .pfeil{
    margin-right: 0px;  
}

.accordion p {
    margin: 0;
    padding: 25px 75px 45px 0px;
}

.accordion h2 {
    margin-bottom: 0;
}

.accList {
    display: none;
    
}

/*---------------------------------- 
    projektcontroller
-----------------------------------*/
.projectcontroller {
    position: fixed;
    top: 298px;
    right: 32px;
    float: left;
    width: 30px;
}

.projectcontroller h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    padding: 15px 0;
    cursor: pointer;
    float: left;
}

.proactiv {
    color: #fff;
}

.projecthide {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.25;
    transition: all 0.5s cubic-bezier(1,.0,.55,1);
}

.shortpro, .description h2.shortpro {
    height: 400px;
    color: #646464;
}

.inview.shortpro {
   background: #222; 
}



/*---------------------------------- 
    map
-----------------------------------*/

#map {
        height: 800px;
        width: 100%;
       }

/*---------------------------------- 
    animation
-----------------------------------*/

.fade {
    height: 0px !important; 
}

/*---------------------------------- 
    footer
-----------------------------------*/

footer {
    margin: 60px 90px 0px 10px;
    width: calc(100% - 100px);
}

footer img {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer p {
    margin: 0;
}
.footergrid {
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
}

.footer {
    padding: 0 30px;
    position: relative;
}

.target-footer {
    display: none;
    padding: 30px;
    position: relative;
    float: left;
}

.disclamer {
    font-size: 14px;
}



/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
    position: fixed;
    bottom: -300px;
    left: 30px;
    border-radius: 0px;
    width: 350px;
    background-color: #646464;
    padding: 15px;
    z-index: 9999;
    transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
  }
  
  #cookiebanner p {
    font-size: 18px;
    color: white;
    margin: 0;
  }
  
  #cookiebanner.visible {
    bottom: 25px;
  }
  
  #cookiebanner button {
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none; 
  }
  
  #declineBtn, #acceptBtn {
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #declineBtn {
    padding: 10px 20px;
    background:none;
    border: 1px solid white; 
    color: white;
    opacity: 0.5;
  }
  
  #acceptBtn {
    border: none;
    padding: 10px 40px;
    background: white;
    color: #646464;
    margin-right: 5px;
  }
  
  #acceptBtn:hover,
  #declineBtn:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75; ;
  }


/*---------------------------------- 
responsive ipad
-----------------------------------*/

@media only screen and (max-width: 1260px) {
.gridtwoproject .gridcontainer .imgproject img {height: 600px;}
.gridtwoproject .gridcontainer .imgproject {justify-content: center; flex-direction: row; }  
}

@media only screen and (max-width: 1000px) {
h1 {font-size: 24px;}
h2, p, a {font-size: 16px;}
.container { margin: 40px 60px 0px 10px; width: calc(100% - 70px);}
.proresp {margin: 40px 100px 0px 10px; width: calc(100% - 110px);}
/* header */
.logo {padding: 0 20px 15px 20px;}
#navburger, .navburgeron {right: 20px;}
.nav ul {right: 70px;}

/* start */
.imgc,.description h2 {height: 450px;}
.short, .description h2.short {height: 380px;}
.gridcontainer,.nextproject {padding: 0 20px 40px 20px;}
.shortpro {height: 400px;}
.dmap h2 {height: 600px;}
.gridsecond {margin-top: 0px;}


/* wir */
.gridfull .gridone, .gridfull .gridtwo {width: 100%;}
.gridfull .resp {display: none;}

/* project */
.gridpro {width: 33%;}

/* footer */
.footergrid {align-items: flex-start; flex-direction: column; gap: 10px; padding-bottom: 20px;}
.footer {padding: 0 20px;}
footer .gridone {width: 100%;}
footer img {width: 75px; height: 75px;}
.target-footer {padding: 10px 20px 20px;}

}

@media only screen and (max-width: 700px) {
h1 {font-size: 20px;}
.logo img {width: 230px;}
.navin {width: 100%;}

.container { margin: 40px 50px 0px 10px; width: calc(100% - 60px);}
.proresp {margin: 40px 100px 0px 10px; width: calc(100% - 110px);}
.gridpro {width: 50%;}
/* start */
.gridone {width: 100%;}
.gridpro {width: 50%;}
.imgc,.description h2 {height: auto}
.description h2.short {height: auto;}
.short {height: auto;}

.shortpro {height: 400px;}

}

@media only screen and (max-width: 460px) {
.logo img {width: 230px;}
.gridpro {width: 100%;}
/* start */
.gridone {width: 100%;}
.imgc,.description h2 {height: 400px}
.description h2.short {height: 400px;}
.short {height: 400px;}

.pfeil {float: none;}

footer img {position: relative;margin-top: 20px;}
 
#cookiebanner {width: calc(100% - 40px); left: 20px;}
#cookiebanner.visible {bottom: 60px;}
}